@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i");
.react-audio-player {
  padding: 0.5rem;
  width: 299px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: unset;
  position: absolute;
  bottom: 0;
  left: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  --grey-color: #b1b1af;
  --black-color: #000000;
  --light-color: #fff;
  --light-red: #f96b6b;
  --red-color: rgb(255, 2, 2);
  --dark-mode-color: #afa8a8;
  --dark-mode-background: #958a9a;
  --inverse-player-color: #f3f3f3;
  --main-pink: #f1d4d9;
  --main-purple: #ad2bbb;
  --light-purple: #ec71f9;
  --colored-mode-color: #e47575;
  --main-white-color: #f5efef;
  --second-white-color: #63463b;
  --light-second-color: #bb3401;
  --bg-color: #da937c;
}

body h3 {
  font-size: 24px;
  margin-bottom: 60px;
  text-align: center;
  position: relative;
  padding: 0 15px;
}

body h3:before {
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body h3::after {
  content: "";
  background-color: var(--grey-color);
  width: 100px;
  height: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body h3:hover::before {
  width: 100px;
}

.App {
  overflow: hidden;
}

.App .support {
  text-align: right;
  padding: 0 15px;
  font-size: 13px;
  opacity: 0.5;
}

.App .mode_wrapper {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
}

.App .mode_wrapper .dark_theme {
  background: var(--red-color);
  padding: 0 5px;
  color: var(--light-color);
}

.App .mode_wrapper div {
  z-index: 1;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.7;
}

.App .mode_wrapper div:hover {
  cursor: pointer;
  opacity: 0.7;
}

.App .main_content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
  margin-top: 8%;
  padding: 0 10px;
}

.App .main_content_wrapper .stationList {
  z-index: 1;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.App .main_content_wrapper .stationList div {
  padding: 0 10px;
  max-width: 400px;
  margin-bottom: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.App .main_content_wrapper .stationList div:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
}

.App .main_content_wrapper .stationList .falseRequest {
  font-size: 18px;
  text-align: center;
  color: var(--black-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .main_content_wrapper .mainPlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  height: 470px;
  min-width: 315.5px;
  margin-bottom: 30px;
}

.App .main_content_wrapper .mainPlayer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: circle 19s linear infinite;
          animation: circle 19s linear infinite;
  margin-bottom: 20px;
}

.App .main_content_wrapper .mainPlayer .name {
  font-size: 30px;
  margin-bottom: 20px;
  max-width: 285px;
  padding: 0 15px;
}

.App .main_content_wrapper .mainPlayer .country {
  font-size: 25px;
  margin-bottom: 20px;
  max-width: 285px;
  padding: 0 15px;
}

.App .main_content_wrapper .mainPlayer .website {
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 285px;
  padding: 0 15px;
}

.App .main_content_wrapper .mainPlayer .close {
  position: absolute;
  right: 0;
  top: 5px;
  right: 5px;
  color: var(--grey-color);
  -webkit-transition: 3s;
  transition: 3s;
}

.App .main_content_wrapper .mainPlayer .close:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.App .main_content_wrapper .mainPlayer .show {
  -webkit-transition: .3s;
  transition: .3s;
  visibility: visible;
  opacity: 1;
  height: 470px;
}

.App .main_content_wrapper .mainPlayer .hide {
  -webkit-transition: .3s;
  transition: .3s;
  visibility: hidden;
  opacity: 0;
}

.App .main_content_wrapper .mainPlayer span {
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
}

.App .main_content_wrapper .mainPlayer span:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.App .main_content_wrapper .search .searchPlayer {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  min-width: 316px;
  height: 400px;
}

.App .main_content_wrapper .search input[type=text] {
  position: absolute;
  top: 100px;
  right: 15px;
  max-width: 285px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 30px;
  border: none;
  background: none;
  margin: 0 auto;
  text-align: center;
  outline: none;
  font-family: 'Crimson Text', serif;
  font-size: 15px;
  padding: 0 15px;
}

.App .main_content_wrapper .search img {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: circle 19s linear infinite;
          animation: circle 19s linear infinite;
  margin-bottom: 20px;
}

.App .main_content_wrapper .search .name {
  font-size: 30px;
  margin-bottom: 20px;
  max-width: 285px;
  padding: 0 15px;
}

.App .main_content_wrapper .search .country {
  font-size: 25px;
  margin-bottom: 20px;
  max-width: 285px;
  padding: 0 15px;
}

.App .main_content_wrapper .search .website {
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 285px;
  padding: 0 15px;
}

.App .main_content_wrapper .search .close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--grey-color);
  -webkit-transition: 3s;
  transition: 3s;
  z-index: 2;
}

.App .main_content_wrapper .search .close:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.App .main_content_wrapper .search .show {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  visibility: visible;
  opacity: 1;
}

.App .main_content_wrapper .search .hide {
  -webkit-transition: .3s;
  transition: .3s;
  visibility: hidden;
  opacity: 0;
}

.App .main_content_wrapper .search span {
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

.App .main_content_wrapper .search span:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.App .mode_wrapper .bg_text {
  overflow: hidden;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 137px;
  -webkit-transition: .8s;
  transition: .8s;
  text-transform: uppercase;
  opacity: .4;
  line-height: 1;
  color: transparent;
  z-index: 0;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  -webkit-text-stroke-width: 1px;
}

@-webkit-keyframes circle {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@media only screen and (max-width: 990px) {
  .App .main_content_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    margin-top: 105px;
    height: auto;
  }
  .App .main_content_wrapper .stationList {
    height: 400px;
    overflow: auto;
    border-bottom-right-radius: 4px;
    margin-bottom: 30px;
  }
  .App .main_content_wrapper .stationList div {
    padding: 0 5px;
  }
  .App .main_content_wrapper .mainPlayer {
    height: auto;
  }
  .App .main_content_wrapper .mainPlayer .show {
    display: block;
  }
  .App .main_content_wrapper .mainPlayer .hide {
    display: none;
  }
  .App .main_content_wrapper .search .searchPlayer {
    margin-bottom: 30px;
  }
  .App .main_content_wrapper .search .show {
    display: block;
  }
  .App .main_content_wrapper .search .hide {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .App .main_content_wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  body h3 {
    font-size: 17px;
    margin-bottom: 30px;
  }
  body h3:before {
    bottom: -15px;
  }
  body h3:after {
    bottom: -15px;
  }
  .App .mode_wrapper div {
    font-size: 10px;
  }
  .App .mode_wrapper .bg_text {
    font-size: 60px;
  }
  .App .main_content_wrapper .stationList {
    position: static;
    height: 400px;
    margin-bottom: 30px;
  }
  .App .main_content_wrapper .stationList div {
    font-size: 15px;
  }
  .App .main_content_wrapper .mainPlayer .name {
    font-size: 17px;
    margin-bottom: 5px;
  }
  .App .main_content_wrapper .mainPlayer .country {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .App .main_content_wrapper .mainPlayer .website {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .App .main_content_wrapper .search input[type=text] {
    top: 68px;
  }
  .App .main_content_wrapper .search .name {
    font-size: 17px;
    margin-bottom: 5px;
  }
  .App .main_content_wrapper .search .country {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .App .main_content_wrapper .search .website {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .App .main_content_wrapper .search .searchPlayer {
    height: 330px;
  }
}

.App .dark {
  background-color: var(--dark-mode-background);
  position: relative;
}

.App .dark .colored_theme {
  -webkit-transition: .3s;
  transition: .3s;
  padding: 0 5px;
}

.App .dark .colored_theme:hover {
  background-color: var(--main-purple);
  color: var(--light-color);
  cursor: pointer;
}

.App .dark .white_theme {
  -webkit-transition: .3s;
  transition: .3s;
  padding: 0 5px;
  color: var(--black-color);
}

.App .dark .white_theme:hover {
  background-color: var(--light-color);
  cursor: pointer;
}

.App .dark h3:before {
  background-color: var(--red-color);
}

.App .dark .react-audio-player {
  background-color: var(--inverse-player-color);
  -webkit-filter: invert(100%);
          filter: invert(100%);
  outline: none;
}

.App .dark .main_content_wrapper:before {
  content: "";
  background-color: var(--red-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -300px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30%;
  -webkit-animation: crossVert 15s linear infinite;
          animation: crossVert 15s linear infinite;
}

.App .dark .main_content_wrapper .stationList {
  background-color: var(--dark-mode-color);
  -webkit-box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
}

.App .dark .main_content_wrapper .stationList div:hover {
  color: var(--red-color);
  opacity: 0.7;
}

.App .dark .main_content_wrapper .stationList .falseRequest {
  font-size: 15px;
}

.App .dark .main_content_wrapper .search input[type=text] {
  border-bottom: 2px solid var(--red-color);
  border-radius: unset;
  -webkit-transition: .3s;
  transition: .3s;
}

.App .dark .main_content_wrapper .search input[type=text]:focus {
  border-bottom: 2px solid var(--light-red);
}

.App .dark .main_content_wrapper .search input[type=text]::-webkit-input-placeholder {
  color: var(--black-color);
}

.App .dark .main_content_wrapper .search input[type=text]:-ms-input-placeholder {
  color: var(--black-color);
}

.App .dark .main_content_wrapper .search input[type=text]::-ms-input-placeholder {
  color: var(--black-color);
}

.App .dark .main_content_wrapper .search input[type=text]::placeholder {
  color: var(--black-color);
}

.App .dark .main_content_wrapper .show {
  -webkit-box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--dark-mode-color);
}

.App .dark .main_content_wrapper .show span:hover {
  color: var(--red-color);
}

.App .dark .mode_wrapper .bg_text {
  color: var(--dark-mode-color);
}

.App .dark:before {
  content: "";
  background-color: var(--red-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  -webkit-animation: crossScreen 15s linear infinite;
          animation: crossScreen 15s linear infinite;
}

@-webkit-keyframes crossScreen {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(1400px);
            transform: translateX(1400px);
  }
}

@keyframes crossScreen {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(1400px);
            transform: translateX(1400px);
  }
}

@-webkit-keyframes crossVert {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(1200px);
            transform: translateY(1200px);
  }
}

@keyframes crossVert {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(1200px);
            transform: translateY(1200px);
  }
}

.App .color {
  background-color: var(--main-pink);
  position: relative;
}

.App .color .colored_theme {
  background-color: var(--main-purple);
  padding: 0 5px;
  color: var(--light-color);
}

.App .color .white_theme {
  -webkit-transition: .3s;
  transition: .3s;
  padding: 0 5px;
  color: var(--black-color);
}

.App .color .white_theme:hover {
  background-color: var(--light-color);
  cursor: pointer;
}

.App .color .dark_theme {
  background: none;
  color: var(--black-color);
  padding: 0 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.App .color .dark_theme:hover {
  cursor: pointer;
  background-color: var(--red-color);
  color: var(--light-color);
}

.App .color h3:before {
  background-color: var(--main-purple);
}

.App .color .react-audio-player {
  background-color: var(--inverse-player-color);
  -webkit-filter: invert(100%);
          filter: invert(100%);
  outline: none;
}

.App .color .main_content_wrapper:before {
  content: "";
  background-color: var(--main-purple);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30%;
  -webkit-animation: crossVert 15s linear infinite;
          animation: crossVert 15s linear infinite;
}

.App .color .main_content_wrapper .stationList {
  background-color: var(--colored-mode-color);
  -webkit-box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
}

.App .color .main_content_wrapper .stationList div:hover {
  color: var(--main-purple);
  opacity: 0.7;
}

.App .color .main_content_wrapper .stationList .falseRequest {
  font-size: 15px;
}

.App .color .main_content_wrapper .search input[type=text] {
  border-bottom: 2px solid var(--main-purple);
  -webkit-transition: .3s;
  transition: .3s;
}

.App .color .main_content_wrapper .search input[type=text]:focus {
  border-bottom: 2px solid var(--light-purple);
}

.App .color .main_content_wrapper .search input[type=text]::-webkit-input-placeholder {
  color: var(--black-color);
}

.App .color .main_content_wrapper .search input[type=text]:-ms-input-placeholder {
  color: var(--black-color);
}

.App .color .main_content_wrapper .search input[type=text]::-ms-input-placeholder {
  color: var(--black-color);
}

.App .color .main_content_wrapper .search input[type=text]::placeholder {
  color: var(--black-color);
}

.App .color .main_content_wrapper .show {
  background-color: var(--colored-mode-color);
  -webkit-box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
}

.App .color .main_content_wrapper .show span:hover {
  color: var(--main-purple);
}

.App .color .mode_wrapper .bg_text {
  color: var(--colored-mode-color);
}

.App .color:before {
  content: "";
  background-color: var(--main-purple);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  -webkit-animation: crossScreen 15s linear infinite;
          animation: crossScreen 15s linear infinite;
}

.App .white {
  background-color: var(--light-color);
  position: relative;
}

.App .white .dark_theme {
  background: none;
  color: var(--black-color);
  padding: 0 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.App .white .dark_theme:hover {
  background-color: var(--red-color);
  color: var(--light-color);
  cursor: pointer;
}

.App .white .colored_theme {
  -webkit-transition: .3s;
  transition: .3s;
  padding: 0 5px;
}

.App .white .colored_theme:hover {
  background-color: var(--main-purple);
  color: var(--light-color);
  cursor: pointer;
}

.App .white .white_theme {
  background-color: var(--light-color);
  padding: 0 5px;
  border: 1px solid var(--grey-color);
}

.App .white h3:before {
  background-color: var(--second-white-color);
}

.App .white .react-audio-player {
  background-color: var(--main-white-color);
  outline: none;
  border: 1px solid var(--second-white-color);
}

.App .white .main_content_wrapper:before {
  content: "";
  background-color: var(--second-white-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -300px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30%;
  -webkit-animation: crossVert 15s linear infinite;
          animation: crossVert 15s linear infinite;
}

.App .white .main_content_wrapper .stationList {
  border: 1px solid var(--second-white-color);
  -webkit-box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
}

.App .white .main_content_wrapper .stationList div:hover {
  color: var(--second-white-color);
  opacity: 0.7;
}

.App .white .main_content_wrapper .stationList .falseRequest {
  font-size: 15px;
}

.App .white .main_content_wrapper .mainPlayer .show .react-audio-player {
  width: 297px;
}

.App .white .main_content_wrapper .search input[type=text] {
  border-bottom: 2px solid var(--second-white-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.App .white .main_content_wrapper .search input[type=text]:focus {
  border-bottom: 2px solid var(--light-second-color);
}

.App .white .main_content_wrapper .search input[type=text]::-webkit-input-placeholder {
  color: var(--black-color);
}

.App .white .main_content_wrapper .search input[type=text]:-ms-input-placeholder {
  color: var(--black-color);
}

.App .white .main_content_wrapper .search input[type=text]::-ms-input-placeholder {
  color: var(--black-color);
}

.App .white .main_content_wrapper .search input[type=text]::placeholder {
  color: var(--black-color);
}

.App .white .main_content_wrapper .show {
  border: 1px solid var(--second-white-color);
  -webkit-box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.75);
}

.App .white .main_content_wrapper .show span:hover {
  color: var(--second-white-color);
}

.App .white .mode_wrapper .bg_text {
  color: var(--bg-color);
}

.App .white:before {
  content: "";
  background-color: var(--second-white-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  -webkit-animation: crossScreen 15s linear infinite;
          animation: crossScreen 15s linear infinite;
}
/*# sourceMappingURL=App.css.map */